<div class="mat-dialog-content">
    <mat-card>
        <mat-card-header>
            <mat-card-title>{{data.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <form [formGroup]="userForm">
                <mat-form-field appearence="outline">
                    <input matInput formControlName="fullName" placeholder="User Name *" type="text" name="name"
                        aria-label="Full Name">
                    <p style="font-size: xx-small; color: red;">{{userForm.controls.fullName.errors?.message}}</p>

                </mat-form-field>
                <mat-form-field>
                    <input matInput formControlName="age" placeholder="Age" type="number" min="1" max="150" name="age">
                </mat-form-field>
                <mat-form-field appearance="fill">
                    <mat-label>Genders</mat-label>
                    <mat-select formControlName="gender" name="gender">
                        <mat-option *ngFor="let gender of genders" [value]="gender">
                            {{gender}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
                <mat-form-field>
                    <input matInput min="1000000000" max="9999999999" formControlName="mobile" placeholder="Mobile"
                        type="number" name="Mobile">
                    <p style="font-size: xx-small;color: red;">{{userForm.controls.mobile.errors?.message}}</p>
                </mat-form-field>

                <mat-card-actions>
                    <button mat-raised-button color="primary" [disabled]="isSaveDisabled()" (click)="saveChanges()"
                        type="submit">Save</button>
                    <button mat-raised-button color="warn" (click)="close()">Cancel</button>
                </mat-card-actions>
            </form>
        </mat-card-content>
       
    </mat-card>
</div>