<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
    <!-- This is the tree node template for leaf nodes -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodePadding>
        <!-- use a disabled button to provide padding for tree leaf -->
        <mat-icon class="mat-18">insert_drive_file</mat-icon>
        {{node.name}}
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-tree-node *matTreeNodeDef="let node;when: hasChild" matTreeNodePadding>
        <button mat-icon-button matTreeNodeToggle [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-18">
                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                folder
            </mat-icon>
        </button>
        <span style="margin-left: 30px;">{{node.name}}</span>
    </mat-tree-node>
</mat-tree>