<mat-toolbar color="primary">
    <mat-toolbar-row>
        <button mat-icon-button>
            <!-- <mat-icon (click)="sidenav.toggle()">menu</mat-icon> -->
        </button>
        <h1>Koch Task</h1>
        <span class="menu-spacer"></span>
        <div>
            <a mat-button [routerLink]="'/users'"> Users </a>
            <a mat-button [routerLink]="'/hierarchy'"> Hierarchy </a>

        </div>
    </mat-toolbar-row>

    <!-- <mat-toolbar-row>
        <span style="font-size: 12px;">SimpleCRM helps you easily manage your contacts</span>
      </mat-toolbar-row> -->
</mat-toolbar>
<router-outlet></router-outlet>