<div class="container" style="margin-left: 6%;margin-top: 5%;">
    <form [formGroup]='hierarchyForm' (ngSubmit)="onFormSubmit()">
        <mat-form-field appearance="fill">
            <mat-label>Schools</mat-label>
            <mat-select formControlName="school" onSc name="school">
                <mat-option *ngFor="let school of schools" [value]="school">
                    {{school}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- class -->
        <mat-form-field appearance="fill">
            <mat-label>Classes</mat-label>
            <mat-select formControlName="sclass" name="class">
                <mat-option *ngFor="let class of classes" [value]="class">
                    {{class}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- sections -->
        <mat-form-field appearance="fill">
            <mat-label>Sections</mat-label>
            <mat-select formControlName="section" name="section">
                <mat-option *ngFor="let section of sections" [value]="section">
                    {{section}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <!-- gender -->
        <mat-form-field appearance="fill">
            <mat-label>Genders</mat-label>
            <mat-select formControlName="gender" name="gender">
                <mat-option *ngFor="let gender of genders" [value]="gender">
                    {{gender}}
                </mat-option>
            </mat-select>
        </mat-form-field>
        <!-- name -->
        <mat-form-field appearence="outline">
            <input matInput formControlName="fullName" placeholder="User Name" type="text" name="name"
                aria-label="Full Name">
        </mat-form-field>
        <button mat-raised-button color="primary" style="margin-left: 20px;">Submit</button>
    </form>

    <app-tree [submitData]= "hieararchyData"></app-tree>
</div>